{% load static %}
<footer>
  <hr>
  <div class="footer_inner">
    <figure class="footer_imgWrapper">
      <img src="{% static 'hp/img/3be-circle-logo8a.png' %}">
    </figure>
    <div class="footer_text">
      <div class="copyright">
        <p>Copyright&copy; Three Be Language All Rights Reserved.</p>
        <div class="footer_icon">
          <a href="#" class="facebook_icon"><i class="fab fa-facebook"></i></a>
          <a class="instagram_icon"><i class="fab fa-instagram"></i></a>
          <a class="line_icon"><i class="fab fa-line"></i></a>
          <a class="twitter"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>